
body {
    background-color: white;
}

div#cpp-content-base {
    background-color: white;
}

div#content {
    margin: 0;
    position: static;
    width: 48.75em;
}

html, body {
    font-family: "DejaVu Sans", arial, sans-serif;
    font-size: 1em;
}

.t-navbar {
    height: 1.72em;
}

tt,
code,
pre,
.mw-geshi,
#wpTextbox1 {
    font-family: "DejaVu Sans Mono", courier, monospace !important;
}

.t-dcl-list-see-monospace > span {
    font-family: "DejaVu Sans Mono", courier, monospace;
}

.t-sb-list-ln-table tr > td:first-child {
    font-family: "DejaVu Sans Mono", courier, monospace;
}

.t-param-list-item > td:first-child {
    font-family: "DejaVu Sans Mono", courier, monospace;
}

.t-dcl-member-div > div:first-child {
    font-family: "DejaVu Sans Mono", courier, monospace;
}

.t-dcl-member-nobold-div > div:first-child {
    font-family: "DejaVu Sans", arial, sans-serif;
}
